# OS / éditeurs
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Secrets
.env
*.env
*.pem
*.pfx

# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
